# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
.next/localstorage.db
/out/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local

# claude code
.claude/

# typescript
*.tsbuildinfo
next-env.d.ts
